<template>
  <v-container class="xs12 md-6">
    <v-layout justify-center>
      <v-flex xs12 md7>
        <h1 class="text-center">TERMS OF SERVICE</h1>
        <h3>1. Introduction</h3>
        <p>
          Welcome to Avila Edtech Investment Ltd
          <b>(“Company”, “we”, “our”, “us”)</b>! As you have just clicked to our Terms of Service, please make a pause, grab a cup of coffee and carefully read the following pages. It will take you approximately 20 minutes.
        </p>
        <p>
          These Terms of Service (&ldquo;
          <strong>Terms</strong>&rdquo;, &ldquo;
          <strong>Terms of Service</strong>&rdquo;) govern your use of&nbsp;our web pages located at Http:/myavila.me and our mobile application&nbsp;Smapp (together or individually &ldquo;
          <strong>Service</strong>&rdquo;)
          operated by Avila Edtech Investment Ltd
        </p>Your agreement with us includes these Terms (&ldquo;
        <strong>Agreements</strong>
        &rdquo;). You acknowledge that you have read and understood Agreements, and agree to be bound of them.
        <br />
        <p>
          If you do not agree with (or cannot comply with) Agreements, then you may not use the Service, but please let us know by emailing at Speak2avila@gmail.com so we can try to find a solution. These Terms apply to all visitors, users and others who wish to
          access or use Service.
        </p>

        <h3>2. Communications</h3>
        <p>By creating an Account on our Service, you agree to subscribe to newsletters, marketing or promotional materials and other information we may send. However, you may opt out of receiving any, or all, of these communications from us by following the unsubscribe link or by emailing at</p>

        <h3>3. Purchases</h3>If you wish to purchase any product or service made available through Service (“Purchase”), you may be asked to supply certain information relevant to your Purchase including, without limitation, your credit card number, the expiration date of your credit card, your billing address, and your shipping information.
        You represent and warrant that:
        <li>You have the legal right to use any credit card(s) or other payment method(s) in connection with any Purchase; and that ..</li>
        <li>The information you supply to us is true, correct and complete.</li>
        <div>
          <p>We may employ the use of third party services for the purpose of facilitating payment and the completion of Purchases. By submitting your information, you grant us the right to provide the information to these third parties.</p>
          <p>We reserve the right to refuse or cancel your order at any time for reasons including but not limited to: product or service availability, errors in the description or price of the product or service, error in your order or other reasons.</p>
          <p>We reserve the right to refuse or cancel your order if fraud or an unauthorized or illegal transaction is suspected.</p>
        </div>

        <div>
          <h3>4. Contests, Sweepstakes and Promotions</h3>
          <p>Any contests, sweepstakes or other promotions (collectively, “Promotions”) made available through Service may be governed by rules that are separate from these Terms of Service. If you participate in any Promotions, please review the applicable rules. If the rules for a Promotion conflict with these Terms of Service, Promotion rules will apply.</p>
        </div>
        <div>
          <h3>5. Subscriptions</h3>
          <p>Some parts of Service are billed on a subscription basis (“Subscription(s)”). You will be billed in advance on a recurring and periodic basis (“Billing Cycle”). Billing cycles are set either on a monthly or annual basis, depending on the type of subscription plan you select when purchasing a Subscription.</p>
        </div>

        <div>
          <p>At the end of each Billing Cycle, your Subscription will automatically renew under the exact same conditions unless you cancel it or Avila Edtech Investment Ltd cancels it. You may cancel your Subscription renewal either through your online account management page or by contacting Avila Edtech Investment Ltd customer support team.</p>

          <p>A valid payment method, including credit card, is required to process the payment for your subcription. You shall provide Avila Edtech Investment Ltd with accurate and complete billing information including full name, address, state, zip code, telephone number, and a valid payment method information. By submitting such payment information, you automatically authorize Avila Edtech Investment Ltd to charge all Subscription fees incurred through your account to any such payment instruments.</p>
          <p>Should automatic billing fail to occur for any reason, Avila Edtech Investment Ltd will issue an electronic invoice indicating that you must proceed manually, within a certain deadline date, with the full payment corresponding to the billing period as indicated on the invoice.</p>
        </div>

        <div>
          <h3>6. Free Trial</h3>
          <p>Avila Edtech Investment Ltd may, at its sole discretion, offer a Subscription with a free trial for a limited period of time (“Free Trial”).</p>
        </div>

        <div>
          <h3>7. Fee Changes</h3>

          <p>Avila Edtech Investment Ltd, in its sole discretion and at any time, may modify Subscription fees for the Subscriptions. Any Subscription fee change will become effective at the end of the then-current Billing Cycle.</p>

          <p>
            Avila Edtech Investment Ltd will provide you with a reasonable prior notice of any change in Subscription fees to give you an opportunity to terminate your Subscription before such change becomes effective.
            <br />Your continued use of Service after Subscription fee change comes into effect constitutes your agreement to pay the modified Subscription fee amount.
          </p>
        </div>

        <div>
          <h3>8. Refunds</h3>
          <p>Except when required by law, paid Subscription fees are non-refundable.</p>
        </div>
        <div>
          <h3>9. Content</h3>
          <p>Content found on or through this Service are the property of Avila Edtech Investment Ltd or used with permission. You may not distribute, modify, transmit, reuse, download, repost, copy, or use said Content, whether in whole or in part, for commercial purposes or for personal gain, without express advance written permission from us.</p>
        </div>
        <div>
          <h3>10. Prohibited Uses</h3>
          <p>You may use Service only for lawful purposes and in accordance with Terms. You agree not to use Service:</p>
          <ol>
            <li>In any way that violates any applicable national or international law or regulation.</li>
            <li>For the purpose of exploiting, harming, or attempting to exploit or harm minors in any way by exposing them to inappropriate content or otherwise.</li>
            <li>To transmit, or procure the sending of, any advertising or promotional material, including any “junk mail”, “chain letter,” “spam,” or any other similar solicitation.</li>
              <li>To impersonate or attempt to impersonate Company, a Company employee, another user, or any other person or entity.
</li> 
        <li> In any way that infringes upon the rights of others, or in any way is illegal, threatening, fraudulent, or harmful, or in connection with any unlawful, illegal, fraudulent, or harmful purpose or activity.
 </li>
        <li> To engage in any other conduct that restricts or inhibits anyone’s use or enjoyment of Service, or which, as determined by us, may harm or offend Company or users of Service or expose them to liability.</li>
          </ol>
          <p>
            <b>Additionally, you agree not to: </b></p>
          <ol>
            <li>Use Service in any manner that could disable, overburden, damage, or impair Service or interfere with any other party’s use of Service, including their ability to engage in real time activities through Service.</li>
            <li>      Use any robot, spider, or other automatic device, process, or means to access Service for any purpose, including monitoring or copying any of the material on Service.
 </li>
 <li>
          Use any manual process to monitor or copy any of the material on Service or for any other unauthorized purpose without our prior written consent.
 </li>
 <li>     Use any device, software, or routine that interferes with the proper working of Service. </li>
 
        <li>Introduce any viruses, trojan horses, worms, logic bombs, or other material which is malicious or technologically harmful. </li>
 
            </ol>
        </div>
      </v-flex>
    </v-layout>
  </v-container>
</template>