<template>
  <v-container fill-height text-center>
    <v-layout justify-center align-center align-content-center>
      <v-flex xs12 md4>
        <h1>Coming Soon</h1>
        <small>Our chimps are working on this page and would be made available soon</small>
        <br />
        <v-divider inset hori></v-divider>
        <br />
        <h3>What's this page for?</h3>
        <p>This page intends to show the naviagational structure of the application for both the principal and staff, how stuff works and how they can be manipulated, it should contain two button each which navigates to the tour of the selected role, screenshots or short video clips should be made publicly available to narrate the explicity of the navigated role tour - thanks</p>
      </v-flex>
    </v-layout>
  </v-container>
</template>