<template>
  <div>
    <v-container grid-list-md>
      <v-layout justify-center align-center>
        <v-flex xs12 md4 class="text-center">
          <v-form v-model="valid">
            <v-card>
              <v-card-text>
                <h2>Contact Us</h2>We will be happy to hear from you
              </v-card-text>
              <v-card-text>
                <v-select
                  v-model="subject"
                  :rules="misc"
                  :items="subjectItems"
                  outlined
                  label="Subject"
                ></v-select>
                <v-text-field outlined v-model="fullName" :rules="misc" label="Full Name"></v-text-field>
                <v-text-field outlined v-model="emailAddress" :rules="misc" label="Email Address"></v-text-field>
                <v-text-field outlined v-model="phone" :rules="misc" label="Phone"></v-text-field>
                <v-textarea v-model="message" :rules="misc" outlined label="Message"></v-textarea>
              </v-card-text>
              <v-card-actions>
                <v-btn :href="mail" target="_blank" rounded block color="primary">Reach out</v-btn>
              </v-card-actions>
            </v-card>
          </v-form>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      valid: false,
      phoneOrEmail: "",
      message: "",
      fullName: "",
      subject: "",
      emailAddress: "",
      to: "speak2avila@gmail.com",
      subjectItems: ["Subscription", "Other", "Not specified"],
      misc: [v => !!v || "This is required"]
    };
  },
  computed: {
    mail() {
      let composer = `
      %0A%0A
        ------------
      Phone: ${this.phone} 
      %0A%0A
      Email Address: ${this.emailAddress}`;
      let composedOf = `mailto:${this.to}?subject=${this.subject}%20query&body=${this.message}${composer}`;

      return composedOf;
    }
  }
};
</script>
