<template>
  <div>
    <v-container fill-height text-center>
      <v-layout wrap row justify-center align-center>
        <v-flex class="pa-1" xs12 md6>
          <h2>Thank you for choosing smapp, you will be redirected to a trusted vendor depending on your device shortly, please check your browsers next tab</h2>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      appUrl: "/smapp-beta-0.5.0.apk"
    };
  },
  mounted() {
    location.href =
      "https://play.google.com/store/apps/details?id=com.avila.smapp";
    // location.href = location.origin + this.appUrl;
  }
};
</script>
