<template>
  <div class="home">
    <HelloWorld msg="Welcome to Your Vue.js App"></HelloWorld>
    <v-container fill-height text-center mt-4>
      <v-layout justify-center align-center>
        <v-flex xs12 md4>
          <h4>Smapp makes it easy to visually manage your school, staffs and students all from your mobile device - its easy as saying "smapp"</h4>
          <br />
        </v-flex>
      </v-layout>
    </v-container>
    <Briefing></Briefing>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from "@/components/HelloWorld.vue";
import Briefing from "@/components/Briefing";
export default {
  name: "home",
  components: {
    HelloWorld,
    Briefing
  }
};
</script>
