<template>
  <v-container text-center grid-list-md fill-height mt-12>
    <v-layout justify-center align-center row wrap>
      <!-- Manage Staff -->
      <v-flex xs12 md6>
        <v-img
          class="hidden-md-and-up"
          contain
          aspect-ratio="1"
          src="/img/attribs/exams-and-records.png"
        />

        <h2>Manage Your Staff</h2>
        <p>Smapp makes it easy for a pricipal to add new staff or update existing staff seemlessly from your device, staff in control of your staff, classes and students</p>
      </v-flex>
      <v-flex xs12 md6>
        <v-img class="hidden-md-and-down" contain aspect-ratio="1" src="/img/manage-staff.gif" />
      </v-flex>
      <!-- // Manage Staff -->

      <!-- Result Automation -->
      <v-flex xs12 md6>
        <v-img contain aspect-ratio="1" src="/img/attribs/exams-and-records.png" />
      </v-flex>
      <v-flex xs12 md6>
        <h2>Result Automation</h2>
        <p>Compute result effortless, let smapp do the hard work for you, never worry about how fast your results will be compiled, smapp automatically grades students, compile and distribute results, recieve real time results notification when its ready.</p>
      </v-flex>
      <!-- // Result Automation -->

      <!-- Real Time Updates -->
      <v-flex xs12 md6>
        <v-img class="hidden-md-and-up" contain aspect-ratio="1" src="/img/attribs/realtime.png" />

        <h2>Real Time SMS Updates</h2>
        <p>Recieve notifications when they're happening, as a parent you have the right to know when your ward is absent from school, when results have been compiled successfully</p>
      </v-flex>
      <v-flex xs12 md6>
        <v-img class="hidden-md-and-down" contain aspect-ratio="1" src="/img/attribs/realtime.png" />
      </v-flex>
      <!-- // Real Time Updates -->

      <!-- Result Automation -->
      <v-flex xs12 md6>
        <v-img contain aspect-ratio="1" src="/img/attribs/messaging.png" />
      </v-flex>
      <v-flex xs12 md5>
        <h2>Communicate simply</h2>
        <p>
          Texting is simple with Smapp. Text anyone
          from your phone or computer, at any time.
          Up late? Smapp has you covered with a simple messaging system that enables to to reach parents and staff easily.
        </p>
      </v-flex>
      <!-- // Result Automation -->

      <!-- Real Time Updates -->
      <v-flex xs12 md6>
        <v-img class="hidden-md-and-up" contain aspect-ratio="1" src="/img/attribs/classes.png" />
        <h2>Control Classes</h2>
        <p>Stay in charge, create class, update class, assing a staff to a class, seemless control made easy - its all left to you</p>
      </v-flex>
      <v-flex xs12 md6>
        <v-img class="hidden-md-and-down" contain aspect-ratio="1" src="/img/attribs/classes.png" />
      </v-flex>
      <!-- // Real Time Updates -->
      <v-btn to="/tour" color="primary" rounded>take the tour</v-btn>
    </v-layout>
  </v-container>
</template>
 