<template>
  <v-footer class="mt-12">
    <v-container grid-list-md ma-5>
      <v-layout text-center align-center justify-center wrap>
        <v-flex xs12>
          <h1>Take Control, Try Smapp</h1>
          <p>Get Smapp on google play</p>
        </v-flex>
        <v-btn to="/download" color="primary" large>
          <v-icon>mdi-android-studio</v-icon>&nbsp; Google Play
        </v-btn>
      </v-layout>
    </v-container>
    <div class="mt-12">
      <small>
        <router-link
          v-for="toc in tocs"
          :key="toc.title"
          :to="toc.to"
        >&nbsp; - &nbsp; {{ toc.title }} &nbsp;</router-link>
        <span class="grey--text">Avila - 2019 - {{ new Date().getFullYear() }} all rights reserved</span>
      </small>
    </div>
  </v-footer>
</template>

<script>
export default {
  data() {
    return {
      tocs: [
        {
          to: "/toc/terms",
          title: "Terms of services"
        },
        {
          to: "/toc/privacy",
          title: "Privacy policy"
        },
        // {
        //   to: "/toc/about",
        //   title: "About Us"
        // },
        {
          to: "/contact",
          title: "Contact Us"
        }
        // {
        //   to: "/toc/movement",
        //   title: "Our Movement"
        // }
      ]
    };
  }
};
</script>

<style scoped>
a {
  text-decoration: none !important;
}
</style>
