<template>
  <v-app-bar app>
    <v-toolbar-title @click="$router.push('/')" class="headline text-uppercase">
      <span>SMA</span>
      <span class="font-weight-light">PP</span>
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <!-- MOBILE -->
    <div class="hidden-md-and-up">
      <v-menu offset-y>
        <template v-slot:activator="{ on }">
          <v-btn v-on="on" icon>
            <v-icon size="40">mdi-gesture-tap</v-icon>
          </v-btn>
        </template>
        <v-list>
          <!-- <v-list-item to="/tour">
            <v-list-item-title>Take a tour</v-list-item-title>
          </v-list-item>-->
          <v-list-item target="_blank" href="https://smappengine.herokuapp.com">
            <v-list-item-title>Smapp for web</v-list-item-title>
          </v-list-item>
          <v-list-item to="/download">
            <v-list-item-title>Download</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </div>
    <!-- WEB -->
    <div class="hidden-md-and-down">
      <!-- <v-btn text color="primary" to="/tour">take a tour</v-btn>&nbsp; -->
      <v-btn
        text
        color="primary"
        target="_blank"
        href="https://smappengine.herokuapp.com"
      >smapp for web</v-btn>&nbsp;
      <v-btn depressed large color="primary" to="/download">download</v-btn>
    </div>
  </v-app-bar>
</template>

<