<template>
  <v-container grid-list-md>
    <v-img gradient="to top right, rgba(100,115,201,.33), rgba(25,32,72,.7)" aspect-ratio="3">
      <v-layout text-center align-center justify-center wrap>
        <v-flex xs12 md6 class="hidden-md-and-down">
          <!-- <video controls autoplay loop src="/videos/overview.mp4"></video> -->
          <img src="/img/overview.gif" />
        </v-flex>
        <v-flex xs12 md6>
          <v-img src="/img/smapp.jpeg" class="my-3" contain height="200"></v-img>
          <!-- <h1 class="display-2 font-weight-bold mb-3">SMAPP</h1> -->
          <h4
            class="subheading font-weight-bold"
          >Automated School Management Application For Schools</h4>
          <p>let smapp do the hard work for you, smapp takes out the hassle required to compile, notify and organize your school, allowing you to focus more on your students, staff and parent</p>
        </v-flex>
      </v-layout>
    </v-img>
  </v-container>
</template>
